.containerMain {
    display: block;
  }

.containerImage{
  height: 30vh;
}
  
.catalogo{
    margin-left: 5%;
}  

.containerCard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
  }

.card{
  width: 25%;
}

.pagesContainer{
  height: 30vh;
  display: flex;
  align-items: center;
}