.button:first-of-type {
    background-color: #F76B12;
    border: none;
    border-radius: 10px;
    color: black;
    font-size: 16px;
    padding: 10px 20px;
    margin-right: 10px;
  }
  
.button:not(:first-of-type) {
    background-color: #D9D9D9;
    border: none;
    border-radius: 10px;
    color: black;
    font-size: 16px;
    padding: 10px 20px;
    margin-right: 10px;
  }

.button:hover{
    cursor: pointer;
}

/* Estilos para pantallas de menos de 600px */
@media (max-width: 600px) {
  .button:first-of-type,
  .button:not(:first-of-type) {
    margin-bottom: 10px;
    margin-right: 0;
    width: 100%;
  }
}

/* Estilos para pantallas de menos de 700px */
@media (max-width: 700px) {
  .button:first-of-type,
  .button:not(:first-of-type) {
    margin-bottom: 10px;
    margin-right: 0;
    width: 50%;
  }
}
