.containerImages {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
  
/* Estilos para pantallas de menos de 600px */
@media (max-width: 600px) {
  .containerImages {
    flex-wrap: wrap;
  }
  .image {
    width: 50%;
    height: auto;
  }
}

/* Estilos para pantallas de menos de 700px */
@media (max-width: 700px) {
  .containerImages {
    flex-direction: column;
  }
  .image {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
}
